<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>글작성</title>
<link rel="stylesheet" type="text/css" href="/css/view_board.css">
</head>
<body>
	<div class="container">
	{{#board}}
		<form action="/board/update" method="post">
			<div class="input_area">
				<label class="text_label"><h4> ID </h4></label>
				<label class="text_label"><h4> {{b_author_id}} </h4></label>
				<input type="hidden" name="b_id" value="{{b_id}}">
			</div>
			<div class="input_title_area">
				<label class="text_label"><h4> 글 제목 </h4></label>
				<input type="text" name="b_title" placeholder="{{b_title}}" required>
			</div>
			<div class="input_textarea">
				<label class="text_label"><h4>글 내용</h4></label>
				<textarea name="b_content" maxlength="600"> {{b_content}} </textarea>
			</div>
			<div class="button_area">
				<button type="submit"> 수정 </button> 
				<button type="reset" onclick="location.href='/board/view/{{b_id}}'"> 취소 </button>
				<button type="submit" onclick="location.href='/'"> 글 목록 </button>
			</div>
		</form>
	{{/board}}
	</div>
</body>
</html>